h2{
    font-weight: bold;
    font-size:  24px;
}
.text{
    margin:0 0 10px 0;
}
.aboutpeople{
    display:flex;
    align-items: center;  /* Vertically centers items */
    margin: 10px;
}

.firstpart{
    flex-direction: column;
}